body {
  background-color: aquamarine;
  max-width: 800px;
  margin: 40px auto;
  font-family: "Roboto", sans-serif;
}

button {
  padding: 10px;
}

.date-time {
  padding: 0 20px;
}

.card-body {
  padding: 10px;
}
.city-result {
  margin-bottom: 0px;
  padding: 0 20px;
}
.temperature {
  padding: 10px 20px;
}
.card {
  border-radius: 20px;
  padding: 30px;
}
.units {
  font-size: 20px;
}

.description {
  font-style: italic;
  font-weight: bold;
  padding-left: 20px;
}

.forecast {
  padding-left: 20px;
}
