body {
  background-color: #53a8b6;
  max-width: 800px;
  padding: 40px;
  margin: 60px auto;
  font-family: "Roboto", sans-serif;
}

button {
  padding: 10px;
}

.card {
  background-color: #79c2d0;
}

.date-time {
  padding: 0 20px;
}

.card-body {
  padding: 10px;
}

.city-result {
  margin-bottom: 0px;
  padding: 0 20px;
}

.temperature {
  padding: 10px 20px;
}

.card {
  border-radius: 20px;
  padding: 30px;
}

.units {
  font-size: 20px;
}

.description {
  font-style: italic;
  font-weight: bold;
  padding-left: 20px;
}

.forecast {
  padding-left: 20px;
}
