body {
  background-color: aquamarine;
  max-width: 800px;
  margin: 40px auto;
  font-family: "Roboto", sans-serif;
}

button {
  padding: 10px;
}

.card {
  border-radius: 20px;
}
.units {
  font-size: 20px;
}

.description {
  font-style: italic;
  font-weight: bold;
}
